<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container col-md-4 mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Login</h3>
                <form th:action="@{/login}" method="post" th:object="${usuario}">
                    <fieldset class="form-group">
                        <label>Usuario</label>
                        <input type="text" class="form-control" th:field="*{usuario}" required="required">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Clave</label>
                        <input type="password" class="form-control" th:field="*{clave}" required="required">
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    
                    <!-- Display error message if login fails -->
                    <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
